/*Core CSS V 1 Hecho por Sebastian Agreda*/

/*Margenes y paddings*/

.no-padding{
	padding: 0 !important;
}

.ml-5{
	margin-left: 5px!important;
}
.mr-5{
	margin-right: 5px!important;
}

.ml-10{
	margin-left: 10px!important;
}
.mr-10{
	margin-right: 10px!important;
}

.mt-5{
	margin-top: 5px!important;
}
.mb-5{
	margin-bottom: 5px!important;
}

.mt-10{
	margin-top: 10px!important;
}
.mb-10{
	margin-bottom: 10px!important;
}
.mt-20{
	margin-top: 20px!important;
}
.mb-20{
	margin-bottom: 20px!important;
}
.mt-30{
	margin-top: 30px!important;
}
.mb-30{
	margin-bottom: 30px!important;
}


.pl-5{
	padding-left: 5px!important;
}
.pr-5{
	padding-right: 5px!important;
}

.pl-10{
	padding-left: 10px!important;
}
.pr-10{
	padding-right: 10px!important;
}

.pt-5{
	padding-top: 5px!important;
}
.pb-5{
	padding-bottom: 5px!important;
}

.pt-10{
	padding-top: 10px!important;
}
.pb-10{
	padding-bottom:  10px!important;
}
.pt-20{
	padding-top: 20px!important;
}
.pb-20{
	padding-bottom:  20px!important;
}
.pt-30{
	padding-top: 30px!important;
}
.pb-30{
	padding-bottom: 30px!important;
}



/*Fuentes*/

.f1{
	font-family: 'Francois One', sans-serif;
}
.f2{
	font-family: 'Dosis', sans-serif;
}

.fs-12{
	font-size: 12px;
}
.fs-14{
	font-size: 14px;
}
.fs-16{
	font-size: 16px;
}
.fs-18{
	font-size: 18px;
}
.fs-20{
	font-size: 20px;
}
.fs-22{
	font-size: 22px;
}
.fs-24{
	font-size: 24px;
}
.fs-26{
	font-size: 26px;
}
.fs-28{
	font-size: 28px;
}
.fs-30{
	font-size: 30px;
}
.fs-40{
	font-size: 40px;
}
.fs-50{
	font-size: 50px;
}
.fs-60{
	font-size: 60px;
}
.bolder{
	font-weight: bolder;
}
body{
font-family: 'Francois One', sans-serif;
}

/*Colores*/

.naranja-c{
	color:#e87327;
}
.naranja-b{
	background: #e87327;
}
.lightazul-c{
	color:#5cb8e8
}
.lightazul-b{
	background: #5cb8e8
}
.blanco-c{
	color: #FFF!important;
}
.blanco-b{
	background: #FFF;
}
.verde-b{
	background: #62c3a3
}
.verde-c{
	color:  #62c3a3
}


/*Sombras*/

.sh-b{
	-webkit-box-shadow: 0px 5px 10px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 10px -7px rgba(0,0,0,0.75);
box-shadow: 0px 5px 10px -7px rgba(0,0,0,0.75);
}
.sh-l{
	-webkit-box-shadow: 10px 10px 7px -12px rgba(0,0,0,0.53);
-moz-box-shadow: 10px 10px 7px -12px rgba(0,0,0,0.53);
box-shadow: 10px 10px 7px -12px rgba(0,0,0,0.53);
}


/*Tools*/



.float-right{
	float: right;
}

.separador{
	padding-top: 20px;
	border-bottom: solid 1px rgba(128, 128, 128, 0.16);
}
.no-pointer{
	cursor: default;
}
.pointer{
	cursor: pointer;
}

.no-link:hover{
	text-decoration: none;
}
.centrado{
	margin:0 auto;
}
.rated{
	color: #e87327;
}

/*Botones*/

.btn-blanco{
	background: transparent!important;
	color: #5ab2e9!important; 
	border-radius: 40px!important;
	border: solid 1px #FFF!important;
	padding: 2px!important;

}
.btn-blanco div{
	border-radius: 40px!important;
	background: #fff!important;
	padding: 10px 30px!important;
	font-size: 30px!important;
}
.btn-blanco:hover{
	color:#FFF!important;
	border-color: #5ab2e9!important;
}
.btn-blanco div:hover{
	background: #5ab2e9!important;
}

.btn-azul{
	color: #FFF;
	border-radius: 38px;
	background:#5ab2e9;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	padding: 4px 26px;
}

.btn-azul:hover{
	color:#5ab2e9;
	background: #FFF;
	border-color: #5ab2e9; 
}

.btn-naranja{
	background: #e87327;
	font-family: 'Dosis', sans-serif;
	color:#fff;
	margin-right: 30px;
	border-radius: 38px;
	padding: 4px 26px;
	letter-spacing: 3px;
	font-size: 20px;
}
.btn-naranja:hover{
	color: #e87327;
	background: #fff;
	border: solid 1px #e87327;
}



/*estructura*/

.profesor-profile{
	margin-top: 0px!important;
	width: 100px;
}
.modal-dialog{
	width: 80vw;
	padding: 20px;
}
.close-modal{
	position: absolute;
	top: 20px;
    right: 20px;
}
.modal .modulo-contenido{
	max-width: 80%;
}
.modal iframe{
	width: 80%;
	margin: 0 auto;
	height: auto;
	min-height: 60vh;
}
.modal .modulo-botton{
	margin: 20px 30px;
}
.modal .modulo-pago{
	margin: 30px 40px;
}

.buscador{
	color: #5ab2e9;
	border-color: #5ab2e9;
	font-family: 'Dosis', sans-serif;

}

.logo-core{
	height:  70px!important;
	width: auto!important;
	margin-left: 40px!important;
}

.navbar-core-main{
	background: #FFF;
	border: none;
	border-bottom: 2px solid #7e7e7e;
}
.navbar-core{
	padding-top:30px;
	padding-bottom: 30px;
}
.mini-panel-user{
	float: right;
	margin-left: 10px;
}

/*Seccion Siguiente clase*/

#siguiente-clase{
	background: url("../assets/images/app/nextclase.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top:20px;
	padding-bottom: 20px;
}

/*fin seccion siguiente clase*/

/*Seccion mosaico cursos*/

.box-curso{
	margin-top: 20px;
	-webkit-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
}

.box-titulo{
	padding-top: 20px;
	}
.box-titulo h4{
	font-size: 24px;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	color:#e87327;
	margin-bottom: 0px;
}
.box-footer{
	background: #efecec;
	width: 102%;
	margin-left: -1%;
	text-align: center;	
	padding: 10px 0px;
}
.box-curso img{
	max-width: 100%;
	margin:0 auto;
}

/*Fin seccion mosaico cursos*/

/*Seccion Mosaico Modulos*/
.box-modulo{
	margin-top: 20px;
	-webkit-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
padding-top: 20px;
padding-bottom: 20px;
}
.modulo-titulo{
	color: #e87327;
	padding: 0px 20px;

}
.modulo-contenido{
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	padding: 10px 20px;
}
.box-modulo img{
	margin-top: 30px;
}
/*Fin seccion mosaico modulos*/

/*Seccion mosaico profesores*/
.profesor-modulo{
	margin-top: 20px;
	-webkit-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
padding-top: 20px;
padding-bottom: 20px;
}
.profesor-modulo img{
	margin-top: 30px;
	max-width: 100%;
	margin-left: 10px;
	margin-right: 10px;
}
.calificacion-modulo{
	padding: 0px 20px;
}
.modulo-boton{
	margin-top: 20px;
}
/*Fin seccion mosaico profesores*/

/*Fuente*/

body{
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
}

h1, h2, h3, h4, h5{
	font-family: 'Francois One', sans-serif;
}

.formulario{
	background:white;
    padding: 16px 17px;
    border-radius: 20px;
    width: 80%;
}

.w100{
	width: 100%!important;
}

.btn-success{

}

/*Fuentes*/

.fs-12{
	font-size: 12px;
}
.fs-14{
	font-size: 14px;
}
.fs-16{
	font-size: 16px;
}
.fs-18{
	font-size: 18px;
}
.fs-20{
	font-size: 20px;
}
.fs-22{
	font-size: 22px;
}
.fs-24{
	font-size: 24px;
}
.fs-26{
	font-size: 26px;
}
.fs-28{
	font-size: 28px;
}
.fs-30{
	font-size: 30px;
}
.fs-40{
	font-size: 40px;
}
.fs-50{
	font-size: 50px;
}
.fs-60{
	font-size: 60px;
}



.facebook-box{
	margin-top: 30px;
		margin-bottom: 20px;
	display: flex;
	align-items: center;
}
.facebook{
	width: 40px;
	height: auto;
}

.no-link:hover{
	text-decoration: none;
}
/*Fuentes*/

.f1{
	font-family: 'Francois One', sans-serif!important;
}
.f2{
	font-family: 'Dosis', sans-serif;
}
/*Colores*/

.naranja-c{
	color:#e87327;
}
.naranja-b{
	background: #e87327;
}
.lightazul-c{
	color:#5cb8e8
}
.lightazul-b{
	background: #5cb8e8
}
.blanco-c{
	color: #FFF;
}
.blanco-b{
	background: #FFF;
}


.points{
	width: 120px;
}
.btn{
	font-family: 'Francois One', sans-serif;
	min-width: 120px;
	border-radius: 200px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 20px;
	letter-spacing:  2px;
}

#formulario-principal{
	min-height: 90vh;
	background: url('../assets/images/app/banner.jpg');
	background-size: cover;
	padding: 70px 10px;

}
.navbar{
	font-family: 'Francois One', sans-serif;
	margin-bottom: 0px;
	background: #fff;
	padding-left: 90px;
	padding-right: 90px; 
	min-height: 101px;
    padding-top: 24px;
}
.navbar-logo{
	margin-top: -23px;
	width: 160px;
}
.banner-title{
	margin-top:20px;
	font-size: 70px;
	color: white;	
}
.link-green{
	background: green;
	border-radius: 200px;
    height: 39px;
    color: #fFf;
}
.link-green a{
	color: #FFF!important;
	padding-top: 9px!important;
	padding-bottom: 3px!important;
}

#beneficios{

	
	background: url('../assets/images/app/beneficios.jpg');
	background-size: cover;
	color: white;
}
#estadisticas{
	background: url('../assets/images/app/noticias.jpg');
	background-size: cover;
	background-position: center;
}

#frase{
	background: url('../assets/images/app/texto.jpg');
	background-size: cover;
	background-position: center;
	color: #fff;
}
#noticias{
	background: url('../assets/images/app/noticias.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
}


/*Botones*/

.btn-blanco{
	background: transparent;
	color: #5ab2e9; 
	border-radius: 40px;
	border: solid 1px #FFF;
	padding: 2px;

}
.btn-blanco div{
	border-radius: 40px;
	background: #fff;
	padding: 10px 30px;
	font-size: 30px;
}
.btn-blanco:hover{
	color:#FFF;
	border-color: #5ab2e9;
}
.btn-blanco div:hover{
	background: #5ab2e9
}

.btn-azul{
	color: #FFF!important;
	border-radius: 38px;
	background:#5ab2e9;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	padding: 4px 26px;
}

.btn-azul:hover{
	color:#5ab2e9!important;
	background: #FFF;
	border-color: #5ab2e9; 
}

.btn-naranja{
	background: #e87327;
	font-family: 'Dosis', sans-serif;
	color:#fff;
	margin-right: 30px;
	border-radius: 38px;
	padding: 4px 26px;
	letter-spacing: 3px;
	font-size: 20px;
}
.btn-naranja:hover{
	color: #e87327;
	background: #fff;
	border: solid 1px #e87327;
}
.azul{
	color: #51a4cf;
}
.opacity{
	opacity: 0;
}
.clarity{
	opacity: 1!important;
}
.img-boxes{
	margin: 0 auto;
	width: 60%;
}
.title-fotografia{
	color: gray;
}
.footer-logo{
	margin: 0 auto;
	width: 50%;
	margin-bottom: 2px;
}

.img-stat{
	margin: 0 auto;
	width: 50%;
}
section{
	padding: 100px 10px;
}

.boxes{
	opacity: 0;
	border-radius: 20px;
	background: #FFF;
	color:gray;
	width: 90%;
	padding: 30px 20px;
}
.padeado{
	padding-left: 100px;
	padding-right: 100px;
}
.titulo-section{
	font-size: 50px;
	margin-bottom: 40px;
}
.stat{
	color: gray;
}
.title-stat{
	color: orange;
	font-size: 33px;
}


.borde{
	background: transparent;
    border: solid 2px white;
    padding: 4px;
    text-align: center;
    border-radius: 40px;
    margin: 15px auto;

}
.btn-custom{
	background: white;
	width: 100%;
	font-size: 40px;

}

#noticias .titulo-section,#noticias p{
	color: gray;
}
.fotografia{
	margin-top: 20px;
}
footer .fa{
	margin-left: 10px;
}
footer{
	background: orange;
	color: #fff;
	padding: 70px 10px;
}

.loginbg{
	background: url('../assets/images/app/loginbg.jpg')!important;
}

.formulario input{
	border-radius: 38px;
	padding: 5px 20px;
	font-size: 20px;
}

.hover{
	background: #FFF!important;
	color: gray!important;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	}
.hover:hover{
	cursor: default;
	border:none;
	margin-bottom: -2px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.signupbg{
	background: url('../assets/images/app/signupbg.jpg')!important;
}

/*ADULTOS*/
.banner-title-adultos{
	
	color: #fff;
}
.subtitle-adultos{
	color: #fff;
}
.margin-top{
	margin-top: 300px;
}

.formulario-adultos{
	background:rgba(150, 149, 149, 0.5803921568627451);
	color: #FFF;
}

.formulario-adultos input{
	background:rgba(150, 149, 149, 0.5803921568627451);
	color: #FFF;
} 

/*TESTEEEEO */

/*ADULTOS*/
#adultos .banner-title-adultos{
	
	color: #fff;
}
#adultos .subtitle-adultos{
	color: #fff;
}
#adultos .margin-top{
	margin-top: 200px;
}

#adultos .formulario-adultos{
	background:rgba(150, 149, 149, 0.5803921568627451);
	color: #FFF;
	border-radius: 10px;
	margin-top: 100px;
}

#adultos .formulario-adultos input{
	background:rgba(150, 149, 149, 0.5803921568627451);
	color: #FFF;
	border:solid 1px grey;
}
#adultos .formulario-adultos textarea{
	background:rgba(150, 149, 149, 0.5803921568627451);
	color: #FFF;
	border:solid 1px grey;
}

#adultos ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white!important;
    opacity: 1; /* Firefox */
}

#adultos :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

#adultos  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

#adultos .btn-success{
	background: orange;
}
#adultos h2 org{
	color: orange;
}
#adultos .orange{
	color: orange;
}

#adultos #formulario-principal{
	background: url('../assets/images/app/header.jpg');
}

#adultos #beneficios{
	background: url('../assets/images/app/seccion.png');
	background-size: cover;
	background-position: right;
	color: grey;
}
#adultos .float{
	float: left;
}
#adultos .vineta{
	margin-top: 20px;
}
#adultos .barra{
	width: 250px;
	margin-right: 15px;
	margin-top: 8px; 
	float: left;
}

#adultos #frase{
	background: url('../assets/images/app/textoadultos.jpg');
	background-size: cover
}
#adultos .title-stat{
	font-size: 15px;
	color: grey;
	font-weight: bolder;
}

.hora{
	    background: #e75f5e;
    padding: 3px 11px;
    border-radius: 20px;
    color: #FFF;
}


/*Nuevos Cambios 20/nov/2018*/
.blanco{
	color: #FFF!important;
}
.navbar {
     padding:.5rem 1rem !important; 
     min-height: auto; 
     padding-top: 0px!important;
 }
 .navbar-core-main{
 	border-bottom: none;
 }

.modal-dialog{
width: auto!important;
	padding: 10px;	
}
.modulo-contenido{
	max-width: 100%!important;
}
.fondo-2{
	background: url(../assets/images/app/header.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: right;

}

.w-60{
	width: 40%;
	margin-left:  50%;
}

 @media (max-width:768px) {
 	.w-60{
	width: auto;
	margin-left:  0;
}
.btn{
	font-size: 12px;
}
.fondo-2{
	text-align: center;
	font-size: 20px!important;
}
.fondo-2 h2{
	font-size: 20px!important;
}
 	.navbar-toggler{
 		position: absolute;
    right: 15px;
    top: 15px;
    color: rgb(255, 255, 254)!important;
    border-color: rgb(248, 249, 250)!important;
    background: #ff7900;
 	}
 	.fondo-2{
 		text-align: center;
 	}
 	.navbar{
 		    padding-top: 37px!important;
 	}
 }


 /*SEGUNDO PUSH H*/


 .fondo-3{
	background: url(../assets/images/app/texto.jpg);
}

/*FIN SEGUNDO PUSH*/
 /*TERCER PUSH*/
 .fondo-4{
	background: url('../assets/images/app/beneficios.jpg');
}

.modal-content{
	padding-top:20px;
}

.modal-dialog{
	max-width: none!important;
}
.cuadro-notas{
	padding: 30px;
}
@media (min-width: 769px){
	.modal-dialog{
		max-width: 80vw!important;
	}

}

 /*FIN TERCER PUSH*/
/*CUARTO PUSH*/
@media (min-width: 994px){
	.img-perfil{
		margin: 0 auto;
		margin-top: -25%;
		border: 5px solid #FFF;
	    border-radius: 54%;

	}

}
.negro{
	color: #000;
}


/*FIN CUARTO PUSH*/